.count-select {
    width: 50%;
    margin: 0;
    padding: 1.5rem 1rem;
    border-right: 1px solid $color-black-medium;
    border-bottom: 1px solid $color-black-medium;

    @include desktop {
        width: unset;
        padding: 1.5rem 0.5rem;
        margin: 0 0.5rem;
        border-bottom: 0;
    }

    &__label {
        text-align: center;
        font-size: 0.875rem;
        margin-bottom: 1.75rem;
        color: $color-white-transparent-49;

        @include desktop {
            padding: 0 1.3rem;
        }
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        &--center {
            justify-content: center;

            @include desktop {
                justify-content: flex-start;
            }
        }
    }

    &__minus {
        margin-top: 0.25rem;
        padding: 0 0 0.5rem 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__number {
        font-size: 3.5rem;
        margin: 0 1rem;
    }

    &__plus {
        margin-top: 0.25rem;
        padding: 0 0.5rem 0.5rem 0;
        font-size: 1.5rem;
        cursor: pointer;
    }
}